[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
gp = {editable = true,path = "."}
matplotlib = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"

[dev-packages]
ipython = "*"
jupyter = "*"
pytest = "*"
pytest-codestyle = "*"
pytest-flakes = "*"
pytest-mypy = "*"
